
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
}

header button {
  background-color: #859e9abb;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

#taskList {
  margin: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li span {
  margin-right: 10px;
}

li button {
  background-color: #8a8a8a;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
}


